<!-- header.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar__container">
        <div class="navbar__logo">ADMbyte</div>
        <ul class="navbar__links">
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/pages/servicios.html">Servicios</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <div class="navbar__toggle" id="menu-toggle">☰</div>
    </div>
</nav>
